// submit-photo styles
.submit-photo {

  &__header {
    position: absolute;

    @include horizontal-center();

    top: 400px;

    h1 {
      color: $beige;

      font-family: 'Din Bold';
      font-size: 65pt;

      text-align: center;

      span {
        display: block;

        font-size: 42pt;
      }
    }

  }

}
