// choose-past styles
.choose-past {

  &__instructions {
    color: $beige;

    text-align: left;

    position: absolute;

    @include horizontal-center();
    left: 24%;

    top: 390px;

    h1 {
      font-family: 'Din Bold';
      font-size: 5.7em;

      font-weight: normal;
    }


    span {
      display: block;

      font-size: .65em;

      position: relative;
    }
  }

  &__label {
    position: absolute;

    width: 100%;

    text-align: center;

    color: $white;

    font-family: 'Din Bold';

    h1 {
      font-size: 3em;
    }

    p {
      font-size: 2.1em;
    }

    h1,p {
      margin: 0;
    }
  }

  &__choices {
    white-space: nowrap;
    width: 100%;

    position: absolute;
    top: 660px;

    padding: 0 72.5px;
  }

  &__inner {
    margin: 0 15px;

    position: relative;

    display: flex;
    align-items: center;

    cursor: pointer;
  }

  &__each {
    width: 50%;

    display: inline-block;
    float: left;

    margin-bottom: 25px;
  }

}
