// take-photo styles

$width: 915px;
$height: 520px;

#camera {
  width: $width;
  height: $height;
}

.take-photo {

  &__camera {
    width: $width;
    height: $height;

    position: absolute;
    top: 30%;

    @include horizontal-center();

    z-index: 2;
  }

  &__frame {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
    }


    &.show {
      opacity: 1;
    }
  }

}
