// take-photo styles

$width: 900px;
$height: 600px;

$triangle: 39.5px;

.take-photo__frame[data-show="3-4"] {


  img {
    transform: rotate(90deg);

    height: 430px;
    width: 600px;

    position: absolute;
    top: 84px;
    left: 149px;
  }
}

.camera {
  position: absolute;

  @include horizontal-center();

  z-index: -1;

  overflow: hidden;


  video {
    transform: scale(1.3);
  }
}

.take-photo {

  &__back {
    position: absolute;

    background-color: $beige;

    top: 545px;
    left: 80px;

    padding: 1px 40px 7px 10px;


    &:before {
      content: '';
      width: 0;
      height: 0;


      border-top: $triangle solid transparent;
      border-left: $triangle solid transparent;
      border-top: $triangle solid $beige;

      position: absolute;
      left: -$triangle;
      top: $triangle;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;


      border-top: $triangle solid transparent;
      border-left: $triangle solid transparent;
      border-bottom: $triangle solid $beige;

      position: absolute;
      left: -$triangle;

      top: -$triangle;
    }

    a {
      color: $brown;

      font-family: 'Din Bold';

      text-decoration: none;

      font-size: 30pt;

      span {
        display: block;

        font-size: 17pt;
      }
    }
  }

  &__sample {
    width: 280px;

    display: none;

    &.show {
      display: flex;
    }

  }

  &__samples {
    position: absolute;
    right: 67px;

    top: 460px;

    span {
      color: $white;

      font-family: 'Din Bold';

      position: absolute;

      top: 0;
      right: 0;

      font-size: 20px;
    }
  }

  &__countdown {
    position: absolute;

    color: $grey;

    @include horizontal-center;

    font-size: 280pt;
  }

  &__camera {
    width: $width;
    height: $height;

    position: absolute;
    top: 700px;

    @include horizontal-center();

    z-index: 2;

    display: flex;

    align-items: center;
  }

  &__frame {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }


    &.show {
      opacity: 1;
    }
  }

}
