mixin take-photo(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .take-photo.page
  
    .take-photo__back
      a(href="#")
        | BACK TO
        span CHOOSING FRAME
  
    .take-photo__samples
      span MATCH THIS ORIGINAL
      each past in site.data.pasts
        img(src="#{past.image}" class="take-photo__sample" data-show="#{past.category}")
  
    .take-photo__camera
      each frame in site.data.frames
        .take-photo__frame(data-show="#{frame.category}")
          img(src="#{frame.image}")
      .camera
      span.take-photo__countdown
