// show-photo styles
$width: 920px;
$height: 650px;

.show-photo {

  &__container {
    position: relative;

    width: $width;
    height: $height;

    margin-left: auto;
    margin-right: auto;

    top: 550px;
  }

  &__image {
    position: absolute;

    img {
      width: $width;
      height: $height;
    }
  }

  &__frames {
    position: absolute;

    width: $width;
    height: $height;
  }

  &__frame {
    position: absolute;

    visibility: hidden;

    width: 100%;
    height: 100%;

    background-size: cover;

    &.show {
      visibility: visible;
    }

  }

  &__buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    position: absolute;
    @include horizontal-center();

    top: 1205px;

    button {
      font-family: 'Din Bold';
      font-size: 23pt;

      padding: 22px 60px;

      border-radius: 15pt;

      margin: 0 10px;
    }

  }

}
