mixin show-photo(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .show-photo.page
    .show-photo__container
      .show-photo__image
      .show-photo__frames
        each frame in site.data.frames
          .show-photo__frame(data-show="#{frame.category}" style="background-image: url(#{frame.image})")
    .show-photo__buttons
      button(class="show-photo__retake btn") RETAKE
      button(class="show-photo__submit btn") SUBMIT
          
