// thank-you styles
.thank-you {

  &__restart {
    background-color: $beige;
    border: 1px solid transparent;

    font-family: 'Din Bold';
    color: $brown;

    font-size: 30pt;

    padding: 25px;

    position: absolute;
    @include horizontal-center();
    top: 655px;

    outline: none;
  }

  &__thanks {
    position: absolute;

    @include horizontal-center();
    left: 32%;

    top: 390px;

    text-align: left;

    h1 {
      color: $beige;

      font-family: 'Din Bold';

      font-size: 70pt;


      span {
        display: block;

        font-size: 42pt;
      }
    }

  }

  &__instructions {
    p {
      color: $beige;

      position: absolute;

      @include horizontal-center();

      font-family: 'Proxima Nova';

      text-align: center;

      font-size: 25pt;

      font-weight: normal;

      top: 745px;

      width: 100%;
    }
  }

}
