mixin thank-you(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .thank-you.page
    .thank-you__thanks
      h1 
        | THANK YOU
        span FOR TAKING PART!
        
    button.thank-you__restart TRY AGAIN
    
    .thank-you__instructions
      p
        | Upload your portrait onto Instagram with 
        br
        | #OutdoTheOriginal and stand a chance to
        br
        | win *insert prize/copy here
    
    
