// home styles
.home {
  color: $beige;

  &__instructions {
    position: absolute;
    text-align: center;

    left: 50%;
    transform: translateX(-50%);

    top: 480px;

    h1 {
      font-family: 'Din Bold';
      font-size: 3.4em;

      span {
        font-size: .6em;
      }
    }

    span {
      display: block;
    }
  }

  &__button {
    position: absolute;
    top: 639px;
    left: calc(50% - 4px);

    transform: translateX(-50%);

    cursor: pointer;

    img {
      width: 191px;

      @include pulse(
        $count: infinite,
        $duration: 1.5s
      );
    }

  }

}
