// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/animate-scss/animate.scss';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/components/modal';

// Import Common scss
@import 'common/fonts';
@import 'common/variables';
@import 'common/mixins';

// Import Modules
@import '../_modules/organisms/home/home';
@import '../_modules/organisms/choose-past/choose-past';
@import '../_modules/organisms/take-photo/take-photo';
@import '../_modules/organisms/show-photo/show-photo';
@import '../_modules/organisms/submit-photo/submit-photo';
@import '../_modules/organisms/thank-you/thank-you';
@import '../_modules/organisms/keyboard/keyboard';


// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.page {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;

  &.show {
    display: block;
  }
}

.object-fit {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.amek-gambar {

  &__header {
    position: absolute;
    top: 118px;
    @include horizontal-center();

    img {
      width: 400px;
    }

    &.smaller {
      top: 110px;


      img {
        width: 335px;
      }

    }

  }

  &__footer {
    img {
      width: 600px;

      position: absolute;
      bottom: 140px;
      @include horizontal-center();
    }
  }

}

h1 {
  font-weight: normal;
}

.btn {
  background-color: $beige;
  border: 1px solid transparent;

  color: $brown;
  outline: none;

  font-family: 'Din Bold';
}
