// keyboard styles
$keyWidth: 75px;
$keyHeight: $keyWidth * 1.25;

.keyboard {
  position: absolute;
  @include horizontal-center();

  top: 690px;
  width: 871px;

  text-align: center;

  white-space: normal;

  &__buttons {

    display: flex;
    justify-content: center;

    margin: 15px 0;

  }

  button {
    background-color: $beige;

    border: 1px solid transparent;

    outline: none;

    width: 430px;

    font-size: 33pt;

    padding: 20px 30px;
    margin: 0 5px;

    border-radius: 20pt;
  }

  &__input {

     margin: 0 0 5px;
     padding: 5px 5px 5px 30px;

     width: 100%;

     height: 80px;

     background: transparent;
     color: white;

     font-size: 35pt;
     border: 0;
     border-bottom: 1px solid rgba(255,255,255,.85);

     text-align: left;
     outline: none;

     font-family: 'Proxima Nova';

     &::placeholder {
       color: white;
     }

  }

  &__keys {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15pt;

    background: black;

    height: 394px;

    li {
      float: left;
      width: $keyWidth;
      height: $keyHeight;
      line-height: $keyHeight;
      text-align: center;
      background: $medGrey;
      color: $white;
      border: 1px solid black;
      border-radius: 10px;
      margin: 2px;
      font-size: 28pt;

      &.lastitem {
        margin-right: 0;
      }

      &.dark {
        background-color: $darkGrey;
      }
    }

    .return {
      width: 77px;
    }
    .left-shift {
      width: $keyWidth * 2;
    }
    .com {
      width: $keyWidth * 2;
    }

  }

  #tooltip {
    position: absolute;
    left: 0;
    top: -50px;
    padding: 10px 15px;
    background: black;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    width: 65%;

    &.show {
      visibility: visible;
      opacity: 1;
      transition: all .3s;
    }

    span {
      color: white;
      font-size: 20pt;
    }
  }

  .btn {
    // margin: 20px 0;

    &.close {
      &:before {
        background-color: silver;
      }

      &:after {
        background-color: grey;
      }
    }
  }
}


.capslock, .tab, .left-shift {
  clear: left;
}

.left-shift {
  img {
    max-width: 30px;
    margin-top: 23px;
  }
}

.delete {
  img {
    max-width: 35px;
    margin-top: 21px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.on {
  display: none;
}
