@font-face {
  font-family: 'Din Bold';
  src: url('../../fonts/din-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Din';
  src: url('../../fonts/din.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/proxima-nova.otf')  format('opentype'), /* Safari, Android, iOS */
}
